!!! true
html(xmlns='http://www.w3.org/1999/xhtml')
	head

		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Choose a browser.
		// link(rel='shortcut icon', href='images/fav.ico', type='image/x-icon')
		// link(rel='stylesheet', href='style.css', type='text/css', media='screen')
		// script(type='text/javascript', src='png.js')

		style(type='text/css')
		
			html,body{font-family:Georgia, Serif;}
			body{ background: rgb(203, 222, 233); background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 800, from(white), to(rgba(255, 255 ,255, 0))); background-image: -moz-radial-gradient(bottom, circle, white 0px, rgba(255, 255, 255, 0) 800px); text-align:center; }
			#container{position:absolute;top:40%;margin-top:-150px;left:0;width:100%;}
			#content{width:100%;height:300px;}
			img{border:none;}
			a {color:#ff4fd4;}
			ul { margin: auto ; width: 560px ; }
			li { float: left ; }
			
	body.error#stupid
		#container
			#content
			
				// h2 your browser is not compatible with #{product.name}...
				// .message #{product.name} requires new features available in the lastest versions of 
				h2 Your browser is not capable of of running this site...
				h3 Please considering upgrading to one of these fine modern browsers:
				
				ul
				
					li
						a(href='http://www.google.com/chrome/')
							// img(alt='Google Chrome', src='images/c.png')
							// img(alt='Google Chrome', src='https://www.google.com/intl/en/images/logos/chrome_logo.gif')
							img(alt='Google Chrome', src='images/browserLogos/c.png')
						div Chrome
					
					li
						a(href='http://www.mozilla.com/en-US/firefox/')
							// img(alt='Mozilla Firefox', src='images/ff.png')
							// img(alt='Mozilla Firefox', src='http://www.mozilla.org/img/covehead/template/title.png')
							img(alt='Mozilla Firefox', src='images/browserLogos/ff.png')
						div Firefox
					
					li
						a(href='http://www.apple.com/safari/download/')
							// img(alt='Safari', src='images/s.png')
							// img(alt='Safari', src='http://images.apple.com/safari/images/overview_safari_title.png')
							img(alt='Safari', src='images/browserLogos/s.png')
						div Safari
					
					// a(href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home')
					// img(alt='Internet Explorer', src='images/ie.png')
		
					// a(href='http://www.opera.com/download/')
					// img(alt='Opera', src='images/o.png')

				// chance of working well is so poor, hide a secret way of continuing
				a(href: '/imwithstupid') .


